<% lines.each do |line| %>
  <div class="line-card">
    <div class="line-card-image">
      <% if line.photo.attached? %>
        <%= cl_image_tag(line.photo.key) %>
      <% else %>
        <%= image_tag "line_placeholder.jpg" %>
      <% end %>
    </div>

    <div class="line-card-infos">
      <p class="line-card-name"><%= link_to line.name, line_path(line) %></p>

      <div class="line-card-category-and-grade">
        <p class="line-category">Type: <%= line.category.capitalize %></p>
        <p class="line-grade"><i class="fa-solid fa-mountain"></i><%= line.grade %></p>
      </div>
    </div>
  </div>
<% end %>
