<%# All Routes in Area (index) %>

<%= render "shared/search_bar" %>

<div class="line-cards">
  <% @lines.each do |line| %>
    <div class="line-card">
      <div class="line-card-image">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
      </div>
      <div class="line-card-infos">
        <div class="line-name-and-grade">
          <p class="line-name"><%= link_to line.name, line_path(line) %></p>
          <p class="line-grade"><%= line.grade %></p>
        </div>
        <p class="line-category">Type: <%= line.category.capitalize %></p>
      </div>
    </div>
  <% end %>
</div>

<div class="footer-spacer"></div>

<%# <p class="area-name-of-route-all">All</p> %>

<%# <p class="area-name-of-route">Routes in <%= @area.name %>

<%# link_to areas_path do %>
  <%# <i class="fa-solid fa-arrow-left-long"></i> %>
<%# end %>
