<%= link_to areas_path do %>
  <i class="fa-solid fa-arrow-left-long"></i>
<% end %>

<p class="area-name-of-route">Routes in <%= @area.name %></p>

<p class="area-name-of-route-all">All</p>

<div class="line-cards">
  <% @lines.each do |line| %>
    <div class="line-card">
      <div class="line-card-image">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
      </div>
      <div class="line-card-infos">
        <div class="line-name-and-grade">
          <p class="line-name"><%= link_to line.name, line_path(line) %></p>
          <p class="line-grade"><%= line.grade %></p>
        </div>
        <p class="line-category">Type: <%= line.category.capitalize %></p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Suggested routes in #{@area.name}", area_suggested_lines_path(@area) %>
