<%= link_to areas_path do %>
  <i class="fa-solid fa-arrow-left-long"></i>
<% end %>

<h1>Routes in <%= @area.name %></h1>

<ul>
  <% @lines.each do |line| %>
    <li>
      <%= link_to line.name, line_path(line) %>
      <%= line.grade %>
      <%= line.category %>
    </li>
  <% end %>
</ul>

<%= link_to "suggested routes in #{@area.name}", area_suggested_lines_path(@area) %>
