<%= link_to area_lines_path(@line.area) do %>
  <i class="fa-solid fa-arrow-left-long"></i>
<% end %>

<h1><%= @line.name %></h1>

<%= @line.grade %>
<%= @line.category %>
<%= @line.description %>
<br>

<%= link_to "Log Climb", new_line_climb_path(@line), class: "btn btn-main" %>
<%= link_to "Leave Tip", new_line_tip_path(@line), class: "btn btn-main" %>
<br>

<h3>Tips for this route</h3>

<%= link_to "Back to routes in #{@line.area.name}", area_lines_path(@line.area) %>
