<h1><%= @line.name %></h1>

<%= @line.grade %>
<%= @line.category %>
<%= @line.description %>

<%= link_to "Log Climb", new_climb_path(), class: "btn btn-main" %>
<%= link_to "Leave Tip", "#", class: "btn btn-main" %>
