<%# Line Details (show) %>

<% if @line.photo.attached? %>
  <% url = cl_image_path(@line.photo.key) %>
<% else %>
  <% url = image_path("line_placeholder.jpg") %>
<% end %>

<div class="line-details-container" style="background-image:url(<%= url %>)" data-controller="line-photo">
  <div class="line-photo-toggler d-none" data-action="click->line-photo#hidePhoto" data-line-photo-target="toggler">
    <i class="fa-solid fa-info"></i>
  </div>

  <% unless @line.photo.attached? %>
    <div id="no-photo-message" class="no-photo-display d-none">
      <i class="fa-solid fa-eye-slash"></i>
      <p>No photo available</p>
    </div>
  <% end %>

  <div class="line-details-box" data-line-photo-target="details">
    <div class="line-header">
      <%= link_to area_lines_path(@line.area) do %>
        <i class="fa-solid fa-arrow-left-long"></i>
      <% end %>
      <h6><%= @line.name %></h6>
      <i class="fa-solid fa-camera-retro" data-action="click->line-photo#displayPhoto"></i>
    </div>

    <div class="line-grade-and-category">
      <p>Grade: <%= @line.grade %></p>
      <p>Type: <%= @line.category.capitalize %></p>
    </div>

    <p class="line-text"><%= @line.description %></p>

    <p class="line-subheading">Location</p>
    <% if @line.location %>
      <p class="line-text"><%= @line.location %></p>
    <% else %>
      <p class="line-text" style="font-style:italic">No information available.</p>
    <% end %>

    <p class="line-subheading">Protection</p>
    <% if @line.protection %>
      <p class="line-text"><%= @line.protection %></p>
    <% else %>
      <p class="line-text" style="font-style:italic">No information available.</p>
    <% end %>

    <div class="text-center">
      <%= link_to "Log Climb", new_line_climb_path(@line), class: "btn btn-custom-thin btn-custom-thin-green" %>
    </div>

    <hr style="margin: 20px 0">

    <p class="line-subheading">Tips</p>

    <% if user_signed_in? %>
      <%= render "tips/tip_section", tips: @tips %>
      <div class="text-center">
        <%= link_to "Leave a Tip", new_line_tip_path(@line), class: "btn btn-custom-thin" %>
      </div>
    <% else %>
      <p class="be-user-prompt text-center">
        <%= link_to "Sign up", new_user_registration_path %> or
        <%= link_to "log in", new_user_session_path %>
        to view tips left by other climbers on this route!
      </p>
    <% end %>
  </div>
</div>

<%# <div class="footer-spacer"></div> %>
