<div class="profile-container">
  <p class="log-out"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %></p>

  <div class="profile-header">
    <div class="profile-pic-banner" style="background-image: url(/assets/pp.jpg);">
      <p class="profile-name"><%= current_user.username.capitalize %></p>

      <div class="profile-image">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar-large", alt: "avatar"  %>
        <% else %>
          <%= image_tag "user_placeholder.jpg", class: "avatar-large", alt: "avatar" %>
        <% end %>
      </div>
    </div>
    <div class="user-information">
      <div class="number-of-climb">
       <p class="number-of-climb-title">Climbs</p>
       <p class="number-of-climb-info">4</p>
      </div>
      <div class="number-of-tip">
       <p class="number-of-tip-title">Tips</p>
       <p class="number-of-tip-info">3</p>
      </div>
      <div class="current-grade">
       <p class="current-grade-title">Grade</p>
       <p class="current-grade-info">5.10a</p>
      </div>
    </div>
  </div>

  <div class="log-climb-preview">
    <% @recent_climbs.each do |recent_climb| %>
      <div class="climb-log-card">
        <div class="status-color <%= recent_climb.status %>"></div>
        <div class="card-info-climb-log">
          <div class="route-edit-delete">
            <p class="climb-line-name"><%= link_to recent_climb.line.name, climb_path(recent_climb) %></p>
            <div class="edit-delete">
              <%= link_to(edit_climb_path(recent_climb)) do %>
                <i class="fa-solid fa-square-pen edit-climb-in-profile"></i>
              <% end %>
              <%= link_to(climb_path(recent_climb), data: {turbo_method: :delete, turbo_confirm: "Delete this log?"} ) do %>
                <i class="fa-solid fa-square-minus delete-climb-in-profile"></i>
              <% end %>
            </div>
          </div>
            <div class="status-and-grade">
              <p class="climbing-status climb">Status: <%= recent_climb.status %></p>
              <p class="climb-grade"><%= recent_climb.line.grade %></p>
            </div>
        </div>
      </div>
    <% end %>

    <em><p class="view-all-my-climbs"><%= link_to "View All My Climbs", climbs_path %></p></em>
  </div>
</div>
