<div class="profile-container">
  <p class="log-out">
    <%= link_to(destroy_user_session_path, data: {turbo_method: :delete}) do %>
      <i class="fa-solid fa-right-from-bracket"></i>
    <% end %>
  </p>

  <div class="profile-header text-center">
    <div class="profile-pic-banner" style="background-image: url(/assets/pp.jpg)">
      <p class="profile-name"><%= current_user.username %></p>

      <div class="profile-image text-center">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar-large", alt: "avatar"  %>
        <% else %>
          <%= image_tag "user_placeholder.jpg", class: "avatar-large", alt: "avatar" %>
        <% end %>
      </div>
    </div>

    <div class="user-information">
      <div class="profile-badge number-of-climbs">
       <p class="profile-badge-title">Climbs</p>
       <p class="profile-badge-info"><%= current_user.climbs.count %></p>
      </div>
      <div class="profile-badge number-of-tips">
       <p class="profile-badge-title">Tips</p>
       <p class="profile-badge-info"><%= current_user.tips.count %></p>
      </div>
      <div class="profile-badge current-grade">
       <p class="profile-badge-title">Grade</p>
       <p class="profile-badge-info">5.10a</p>
      </div>
    </div>
  </div>
  <p class="view-all-my-climbs"><%= link_to "View All My Climbs", climbs_path %></p>
</div>
<div class="footer-spacer"></div>
