<h1>My Climbs</h1>

<% @climbs.each do |climb| %>
  <p><%= link_to climb.line.name, climb_path(climb) %> |
     <strong><%= climb.status %></strong> |
     <%= link_to "Edit", edit_climb_path(climb) %> |
     <%= link_to "Delete", climb_path(climb), data: {turbo_method: :delete, turbo_confirm: "Delete this climb?"} %>
  </p>
<% end %>

<%= link_to "Back to profile", profile_path %>
