<div class="climbs-container">
  <div class="climbs-header">
    <%= link_to(profile_path) do %>
      <i class="fa-solid fa-arrow-left-long profile-climb-show-arrow"></i>
    <% end %>
    <p class="climbs-title">My Climbs</p>
    <div class="climbs-header-icon-spacer"></div>
  </div>

  <div class="climb-log-cards">
    <% @climbs.each do |climb| %>
      <%= link_to(climb_path(climb)) do %>
        <div class="climb-log-card">
          <div class="status-color <%= climb.status %>"></div>

          <div class="climb-log-info">
            <div class="climb-line-and-grade">
              <p class="climb-line-name"><%= climb.line.name %></p>
              <p class="climb-grade"><i class="fa-solid fa-mountain"></i><%= climb.line.grade %></p>
            </div>

            <p class="climb-info-text">Climbed on: <%= climb.climb_date.strftime("%B %e, %Y") %></p>

            <p class="climb-info-text">Status: <%= climb.status.capitalize %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="footer-spacer"></div>
