<h1>Log a climb for <%= @line.name %> route</h1>

<%= simple_form_for [@line, @climb] do |f| %>
  <%= f.input :description %>
  <%= f.input :status, as: :select, collection: Climb::STATUSES.map { |s| [s.capitalize, s] } %>
  <%# f.input :photo, as: :file %>
  <%= f.input :completion_date, as: :date, html5: true %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to route", line_path(@line) %>
