<% if @line.photo.attached? %>
  <% url = cl_image_path(@line.photo.key) %>
<% else %>
  <% url = image_path("line_placeholder.jpg") %>
<% end %>

<div class="line-details-container" style="background-image:url(<%= url %>)">
  <div class="new-climb-box">
    <div class="button-and-route">
      <%= link_to line_path(@line) do %>
        <i class="fa-solid fa-arrow-left-long"></i>
      <% end %>
      <p class="log-climb-for-route text-center">Log a climb for<br><%= @line.name %></p>
      <div class="icon-width-spacer"></div>
    </div>

    <%= simple_form_for [@line, @climb] do |f| %>
      <%= f.input :description %>
      <%= f.input :status, as: :select, collection: Climb::STATUSES.map { |s| [s.capitalize, s] } %>
      <%= f.input :climb_date, as: :date, input_html: { value: Date.today }, html5: true %>
      <%= f.input :photos, as: :file, label: "Photos", input_html: { multiple: true } %>
      <div class="text-center"><%= f.submit "Log Climb", class: "btn btn-custom-thin submit-climb-button"%></div>
    <% end %>
  </div>
</div>
