<%# Climb Details (show) %>

<% if @climb.line.photo.attached? %>
  <% url = cl_image_path(@climb.line.photo.key) %>
<% else %>
  <% url = image_path("line_placeholder.jpg") %>
<% end %>

<div class="line-details-container" style="background-image:url(<%= url %>)" data-controller="line-photo climb-photos">
  <div class="line-photo-toggler d-none" data-action="click->line-photo#hidePhoto" data-line-photo-target="toggler">
    <i class="fa-solid fa-info"></i>
  </div>
  <div class="carousel-toggler d-none" data-action="click->climb-photos#hideCarousel" data-climb-photos-target="toggler">
    <i class="fa-regular fa-circle-xmark"></i>
  </div>

  <% unless @climb.line.photo.attached? %>
    <div id="no-photo-message" class="no-photo-display d-none">
      <i class="fa-solid fa-eye-slash"></i>
      <p>No photo available</p>
    </div>
  <% end %>

  <div class="climb-details-box" data-line-photo-target="details" data-climb-photos-target="details">
    <div class="climb-header">
      <%= link_to(climbs_path) do %>
        <i class="fa-solid fa-arrow-left-long"></i>
      <% end %>
      <p class="climb-details-line text-center"><%= @climb.line.name %></p>
      <i class="fa-solid fa-camera-retro" data-action="click->line-photo#displayPhoto"></i>
    </div>

    <p class="climb-details-text"><%= @climb.description %></p>

    <p class="climb-details-subheading">Climbed on</p>
    <p class="climb-details-text"><%= @climb.climb_date.strftime("%B %e, %Y") %></p>

    <p class="climb-details-subheading">Status</p>
    <p class="climb-details-text"><%= @climb.status.capitalize %></p>

    <% if @climb.photos.attached? %>
      <%= render "climb_thumbnails", photos: @climb.photos %>
    <% end %>

    <div class="climb-details-buttons">
      <%= link_to(edit_climb_path(@climb), class: "btn btn-custom-thin climb-details-button") do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>

      <%= link_to(climb_path(@climb), class: "btn btn-custom-thin climb-details-button", data: {turbo_method: :delete, turbo_confirm: "Delete this climb?"} ) do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    </div>
  </div>

  <div class="carousel-container d-none" data-climb-photos-target="carousel">
    <%= render "climb_images", photos: @climb.photos %>
  </div>
</div>
