<% if @climb.line.photo.attached? %>
  <% url = cl_image_path(@climb.line.photo.key) %>
<% else %>
  <% url = image_path("line_placeholder.jpg") %>
<% end %>

<div class="line-details-container" style="background-image:url(<%= url %>)" data-controller="line-photo climb-photos">
  <div class="line-photo-toggler d-none" data-action="click->line-photo#hidePhoto" data-line-photo-target="toggler">
    <i class="fa-solid fa-info"></i>
  </div>
  <div class="carousel-toggler d-none" data-action="click->climb-photos#hideCarousel" data-climb-photos-target="toggler">
    <i class="fa-regular fa-circle-xmark"></i>
  </div>

  <div class="show-log-climb-box" data-line-photo-target="details" data-climb-photos-target="details">
    <div class="arrow-and-title">
      <%= link_to(climbs_path) do %>
        <i class="fa-solid fa-arrow-left-long show-climb-arrow"></i>
      <% end %>
      <p class="log-climb-name"><%= @climb.line.name %></p>
      <i class="fa-solid fa-camera-retro" data-action="click->line-photo#displayPhoto"></i>
    </div>

    <p>Description: <%= @climb.description %></p>
    <p>Status: <%= @climb.status.capitalize %></p>
    <p>Date climbed: <%= @climb.climb_date.strftime("%B %e, %Y") %></p>

    <div class="link-buttons-show-climb">
      <%= link_to(edit_climb_path(@climb)) do %>
        <i class="fa-solid fa-square-pen"></i>
      <% end %>
      <%= link_to(climb_path(@climb), data: {turbo_method: :delete, turbo_confirm: "Delete this log?"} ) do %>
        <i class="fa-solid fa-square-minus"></i>
      <% end %>
    </div>

    <% if @climb.photos.attached? %>
      <%= render "climb_thumbnails", photos: @climb.photos %>
    <% end %>
  </div>

    <div class="carousel-container d-none" data-climb-photos-target="carousel">
      <%= render "climb_images", photos: @climb.photos %>
    </div>
</div>
