<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1598438924166-6d89ca57f248?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80);">
    <p>Hey, ready to climb?</p>
    <br>
    <%= render "shared/search_bar" %>
</div>
  <div class="recommendation-section" >
    <p id="recommendation">Areas nearest to you</p>
    <div class="recommendation-cards">
    
      <div class="recommendation-card-info" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(@area1.photo.key) %>)">
        <%= link_to @area1.name, area_lines_path(@area1.id) %>
      </div>
      <div class="recommendation-card-info" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(@area2.photo.key) %>">
        <%= link_to @area2.name, area_lines_path(@area2.id) %>
      </div>
      <div class="recommendation-card-info" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1480497490787-505ec076689f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80">
        <%= link_to @area3.name, area_lines_path(@area3.id) %>
      </div>
    </div>
    <p id="see-all"><%= link_to "See all", areas_path %></p>
  </div>
</div>
<div class="homepage-map">
  <img src="https://www.theclick.gg/wp-content/uploads/2021/08/Genshin-Impact-World-Map.jpg" width= "300px" alt="Temporary Map">
</div>
