<div class="home-container">
  <%= link_to(root_path, class: "hidden-landing-link") do %>
    <i class="fa-solid fa-file-code"></i>
  <% end %>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(/assets/banner.jpg);">
      <% if current_user %>
        <p>Hey <%= current_user.username %>,<br>ready to climb?</p>
      <% else %>
        <p>Hey,<br>ready to climb?</p>
      <% end %>
      <%= render "shared/search_bar" %>
  </div>

  <div class="recommendation-section">
    <p id="recommendation">Areas nearest to you</p>

    <div class="recommendation-cards">
      <% if @area1.photo.attached? %>
        <% url = cl_image_path(@area1.photo.key) %>
      <% else %>
        <% url = image_path("area_placeholder.jpg") %>
      <% end %>

      <div class="recommendation-card-info" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= url %>)">
        <%= link_to @area1.name, area_lines_path(@area1.id) %>
      </div>

      <% if @area2.photo.attached? %>
        <% url = cl_image_path(@area2.photo.key) %>
      <% else %>
        <% url = image_path("area_placeholder.jpg") %>
      <% end %>

      <div class="recommendation-card-info" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= url %>">
        <%= link_to @area2.name, area_lines_path(@area2.id) %>
      </div>

      <% if @area3.photo.attached? %>
        <% url = cl_image_path(@area3.photo.key) %>
      <% else %>
        <% url = image_path("area_placeholder.jpg") %>
      <% end %>

      <div class="recommendation-card-info" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= url %>">
        <%= link_to @area3.name, area_lines_path(@area3.id) %>
      </div>
    </div>

    <p id="see-all">
      <%= link_to areas_path do %>
        See all <i class="fa-solid fa-caret-right"></i>
      <% end %>
    </p>
  </div>

  <div id="map" style="width: 375px; height: 205px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-mymarker-value="<%= @mymarker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
