<div class="tip-cards">
  <% if !@tips.empty? %>
    <% @tips.each do |tip| %>
      <div class="tip-card">
        <div class="tip-user">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-large", alt: "avatar"  %>
          <% else %>
            <%= image_tag "user_placeholder.jpg", class: "avatar-large", alt: "avatar" %>
          <% end %>
          <div class="tip-user-info">
            <p class="tip-username"><%= tip.user.username %></p>
            <p class="tip-date"><%= tip.created_at.strftime("%B %e, %Y") %></p>
          </div>
        </div>

        <div class="tip-title-and-actions">
          <p class="tip-title"><%= tip.title? ? tip.title : "Untitled" %></p>
          <% if tip.user == current_user %>
            <div class="tip-actions">
              <%= link_to(edit_tip_path(tip)) do %>
                <i class="fa-solid fa-square-pen"></i>
              <% end %>
              <%= link_to(tip_path(tip), data: {turbo_method: :delete, turbo_confirm: "Delete this tip?"} ) do %>
                <i class="fa-solid fa-square-minus"></i>
              <% end %>
            </div>
          <% end %>
        </div>

        <p class="tip-content"><%= tip.content %></p>
      </div>
    <% end %>
  <% else %>
    <p class="no-tip-text text-center">No tips available yet for this route.</p>
  <% end %>
</div>
