<h1>Add a tip on <%= @line.name %></h1>
<p>Leave a tip on this route for future climbers</p>
<%= simple_form_for(tip) do |f| %>
  <%= f.input :description, as: :text %>
  <%= f.input :photo, as: :file %>
  <%= f.input :completion_date, as: :date, html5: true %>

<% end %>
