<% if @line.photo.attached? %>
  <% url = cl_image_path(@line.photo.key) %>
<% else %>
  <% url = image_path("line_placeholder.jpg") %>
<% end %>

<div class="line-details-container" style="background-image:url(<%= url %>)">
  <div class="new-climb-box">
    <div class="button-and-route">
      <%= link_to line_path(@line) do %>
        <i class="fa-solid fa-arrow-left-long"></i>
      <% end %>
      <p class="log-climb-for-route text-center">Add a tip for<br><%= @line.name %></p>
      <div class="icon-width-spacer"></div>
    </div>

    <p class="tip-instruction">Want to share your climb experience? Leave a tip on this route for future climbers!</p>

    <%= simple_form_for [@line, @tip] do |f| %>
      <%= f.input :title %>
      <%= f.input :content %>
      <div class="text-center"><%= f.submit "Add Tip", class: "btn btn-custom-thin leave-tip-button"%></div>
    <% end %>
  </div>
</div>
