<%= link_to line_path(@line) do %>
  <i class="fa-solid fa-arrow-left-long"></i>
<% end %>

<div class="leave-tip-box">
  <p class="tip-route">Add a tip for <%= @line.name %></p>
  <p class="tip-instruction"">Leave a tip on this route for future climbers</p>

  <%= simple_form_for [@line, @tip] do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%# f.input :photo, as: :file %>
    <%= f.submit class: "btn "%>
  <% end %>
</div>
